UDP_LISTEN_HOST=0.0.0.0
UDP_LISTEN_PORT=5000
VEHICLE_HOST=192.168.0.15
VEHICLE_PORT=1234
GCS_SYSTEM_ID=255
GCS_COMPONENT_ID=190
VEHICLE_SYSTEM_ID=1
VEHICLE_COMPONENT_ID=25
HTTP_HOST=0.0.0.0
HTTP_PORT=3000
CSV_LOG_DIR=logs
